body {
	font-family: 'Bungee';
	background-image: url('guardiansofgalaxy.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}

h1 {
	color: #e68a00;
	text-shadow: 3px 2px black;
}

h2 {
	color: black;
	text-shadow: 2px 1px #e68a00;
}

.character-image {
	display: inline-block;
  	height: 145px;
	padding: 0px 20px 0px 20px;
	margin: 0px 2px 0px 2px;
	background-color: white;
	border: solid;
	border-color: #e68a00;
}

.character-image p {
	text-align: center;
	margin: 0px 2px 0px 2px;
}

#chosen-character {
	height: 190px;
}

#chosen-character h2 {
	font-size: 2em;
    color: black;
    text-shadow: 2px 1px #e68a00;
}

.chosen-character {
	border-color: black;
	background-color: #FFFFFF;
}

#enemies-available h2 {
	font-size: 2em;
    color: black;
}

.enemy-character {
	border-color: black;
	background-color: #aff048;
	margin: 0px 2px 0px 2px;
	color: black;
}

#fight-section h2 {
	font-size: 2em;
    color: black;
}

#defender-section {
	height: 210px;
}

#defender-section h2 {
	font-size: 2em;
	color: black;
}

.defender-character {
	border-color: #ffffff;
	background-color: black;
	color: white;
}

#game-message {
	font-size: 2em;
	font-weight: bold;
	color: black;
	text-shadow: 2px 1px #e68a00;
}